RENDER_API_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=

# Default backend for frontend (python or typescript)
VITE_DEFAULT_BACKEND=python
VITE_API_PY_HOST=http://localhost:8000
VITE_API_TS_HOST=http://localhost:8080

# Workflow service IDs
WORKFLOW_SERVICE_ID=workflow-python
WORKFLOW_SERVICE_ID_TS=workflow-ts
